
<!DOCTYPE html>
<html>
	<%include header%>
	<body class="o-page">
		<div id="page">
			<div id="header">
				<a href="#menu"></a>
				<span id="Logo" class="svg">
					
				</span>
				<a class="backBtn" href="javascript:history.back();"></a>
			</div>
			
			<div id="content">
				
				<article>
					<p>
						<%-pager.content%>
					</p>
				</article>

			</div>
			
			<%include slider%>
		</div>
		<%include footer%>


	</body>
</html>