<nav id="menu">
	<ul>
		<% menus.forEach(function(menu){ %>
			<li>
				<a href="<%=menu.link%>">
					<i class="<%=menu.icon%> fa-fw1`"></i>&nbsp<%=menu.name%>
				</a>
			</li>
		<% }) %>
	</ul>
</nav>