	<div class="footer">
		<div class="footer-inner">
			2013 &copy; 亚普拓咨询信息服务
		</div>
		<div class="footer-tools">
			<span class="go-top">
			<i class="fa fa-angle-up"></i>
			</span>
		</div>
	</div>