<ul class="page-sidebar-menu">
				<li>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<div class="sidebar-toggler hidden-phone"></div>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				</li>
				<li>
					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
					<form class="sidebar-search" action="javascript:;" method="POST">
						<div class="form-container">
							<div class="input-box">
								<a href="javascript:;" class="remove"></a>
								<input type="text" placeholder="搜索"/>
								<input type="button" class="submit" value=" "/>
							</div>
						</div>
					</form>
					<!-- END RESPONSIVE QUICK SEARCH FORM -->
				</li>
				<li class="<%if(locals.wxIndexActive){%>start <%=wxIndexActive%><%}%>">
					<a href="/wx/index">
					<i class="fa fa-home"></i> 
					<span class="title">首页</span>	
					<%if(locals.wxIndexActive){%>
					<span class="selected"></span>
					<%}%>
					</a>
				</li>
				<li class="<%if(locals.replyActive){%>start <%=replyActive%><%}%>">
					<a href="#">
					<i class="fa fa-home"></i> 
					<span class="title">自动回复</span>	
					<%if(locals.replyActive){%>
					<span class="selected"></span>
					<%}%>
					</a>

					<ul class="sub-menu">
						<li class="<%if(locals.followActive){%>start <%=followActive%><%}%> ">
							<a href="/wx/reply/follow">
							<i class="fa fa-archive"></i> 
							<span class="title">被添加自动回复</span>	
							<%if(locals.followActive){%>			
								<span class="selected"></span>
							<%}%>
							</a>
						</li>
						<li class="<%if(locals.keywordsActive){%>start <%=keywordsActive%><%}%> ">
							<a href="/wx/reply/keywords">
							<i class="fa fa-archive"></i> 
							<span class="title">关键词自动回复</span>	
							<%if(locals.keywordsActive){%>			
								<span class="selected"></span>
							<%}%>
							</a>
						</li>
					
					</ul>
				</li>

			</ul>