
<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.0
Version: 1.5.3
Author: KeenThemes
Website: http://www.keenthemes.com/
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title>编辑模板</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<meta name="MobileOptimized" content="320">
	<!-- BEGIN GLOBAL MANDATORY STYLES -->          
	<% include ../include/global_css %>
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN THEME STYLES --> 
	<% include ../include/theme_css %>
	<!-- END THEME STYLES -->
	<!-- BEGIN PAGE LEVEL STYLES -->
	<link rel="stylesheet" type="text/css" href="/assets/plugins/fuelux/css/tree-metronic.css" />
	<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-toastr/toastr.min.css" />
	<link rel="stylesheet" href="/assets/plugins/data-tables/DT_bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.css" />
	<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />

	<!-- END PAGE LEVEL STYLES -->

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="">
	<!-- BEGIN HEADER -->   
	<div class="header navbar navbar-inverse navbar-static-top">
		<!-- BEGIN TOP NAVIGATION BAR -->
		<% include ../include/top %>
		<!-- END TOP NAVIGATION BAR -->
	</div>
	<!-- END HEADER -->
	<div class="clearfix"></div>
	<!-- BEGIN CONTAINER -->   
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
		<div class="page-sidebar navbar-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->        	
			<%include ../include/menu.ejs%>
			<!-- END SIDEBAR MENU -->
		</div>
		<!-- END SIDEBAR -->
		<!-- BEGIN PAGE -->
		<div class="page-content">
		

			<!-- BEGIN PAGE HEADER-->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN PAGE TITLE & BREADCRUMB-->			
					<h3 class="page-title">
						编辑模板				<small>非专业人士不要修改</small>
					</h3>
					<ul class="page-breadcrumb breadcrumb">
				
						<li>
							<i class="fa fa-home"></i>
							<a href="#">外观</a> 
							<i class="fa fa-angle-right"></i>
							<a href="#">编辑模板</a> 
						</li>
				
					</ul>
					<!-- END PAGE TITLE & BREADCRUMB-->
				</div>
			</div>
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-3">
					<div class="portlet blue box">
						<div class="portlet-title">
							<div class="caption"><i class="fa fa-cogs"></i>模板列表</div>
							
						</div>
						<div class="portlet-body">
							<div class="scroller" style="height:350px" data-always-visible="1" data-rail-visible="0">

								<div id="idTplTree" >
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div  class="col-md-9">
				
							<div style="display:none" id="idError" class="alert alert-block alert-danger fade in">
								<button type="button" class="close" data-dismiss="alert"></button>
								<h4 class="alert-heading">错误提示</h4>
								<p>
									错误内容
								</p>
								
							</div>
							<div style="display:none" id="idSuccess" class="alert alert-block alert-success fade in">
								<button type="button" class="close" data-dismiss="alert"></button>
								<h4 class="alert-heading">成功</h4>
								<p>
									成功内容
								</p>
								
							</div>
							<render id="idInfo">
								<div class="portlet green box">
									<div class="portlet-title">
										<div class="caption"><i class="fa fa-cogs"></i>模板文件代码</div>
										<div class="tools">
											<a href="javascript:;" class="collapse"></a>
											
											
										</div>
									</div>
									<div class="portlet-body form">
										<div class="form-body">
											<render id="idTplInfoRender">
												<h3 class="form-section">请选择左侧的模板文件</h3>
											</render>
											

										</div>
									</div>
								</div>
							</render>
				</div>
			</div>

		

			<template id="idHtmlTpl" style="display:none">
				<form id="idSaveForm" action="#" class="form-horizontal" role="form">	
				<input type="hidden" name="filename" value="{{name}}">	
				<input type="hidden" name="tplname" value="{{tplname}}">
					<div class="form-body">				
						<div class="form-group">
							<label class="col-md-1 control-label">正文</label>
							<div class="col-md-11">
							<textarea id="idUpdateVideoContent" name="content" rows="50"  class="content form-control">{{content}}</textarea>
				
							</div>
						</div>
									
					</div>
					<div class="form-actions nobg fluid">
						<div class="col-md-offset-3 col-md-9">
							<button id="idSaveBT" class="btn green" type="button" class="btn green">保存</button>
							                              
						</div>
					</div>
				</form>

			</template>

			

			
			<!-- END PAGE CONTENT-->

		</div>
		<!-- END PAGE -->    
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	<%include ../include/footer.ejs %>
	<!-- END FOOTER -->
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->   
	<%include ../include/ie.ejs %>
	<%include ../include/core_plugin.ejs %>
	<!-- END CORE PLUGINS -->
	

	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="/assets/plugins/fuelux/js/tree.min.js"></script>  
	<script type="text/javascript" src="/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/jquery-validation/dist/additional-methods.min.js"></script>
	<script src="/assets/plugins/bootstrap-toastr/toastr.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/select2/select2.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/data-tables/jquery.dataTables.js"></script>
	<script type="text/javascript" src="/assets/plugins/data-tables/DT_bootstrap.js"></script>

	<script type="text/javascript" src="/assets/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="/assets/plugins/jquery-file-upload/js/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="/assets/plugins/jquery-file-upload/js/jquery.fileupload.js"></script>
	<script src="/assets/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript" ></script>
	<script src="/assets/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript" ></script>
	<script type="text/javascript" src="/assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script> 
	<script type="text/javascript" src="/assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
	<script type="text/javascript" src="/assets/plugins/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" src="/assets/plugins/ueditor/ueditor.all.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/jstree/jquery.jstree.js"></script>
	<script type="text/javascript" src="/assets/plugins/jstree/_lib/jquery.hotkeys.js"></script>
	<!-- END PAGE LEVEL SCRIPTS -->     
	<script src="/assets/scripts/edittpls.js"></script>    
	<script src="/assets/scripts/app.js"></script>
	<script>
		jQuery(document).ready(function() {       
		
		   App.init();
		   Edittpls.init();
		  
		});
	</script>
	<!-- END JAVASCRIPTS -->

</body>
<!-- END BODY -->
</html>