     			<!-- Sidebar -->
	
	        <aside id="sidemenu-container">
	        	<div id="sidemenu">
	        		 <div id="author-profile">
	        			<div class="author-profile-photo">
	        				<img src="/mobile/assets/authorProfile.jpg" alt="">
	        			</div>
	        			<div class="author-profile-content">
	        				<p class="title">中国妇产科网</p>
	        				<p class="subtitle"></p>
	        			</div>
	        		</div> 
		        	<nav id="nav-container">
		        		<ul class="nav">
		        		
		        			<% menus.forEach(function(menu){ %>
    							<li><a href="<%=menu.link%>"><%=menu.name%></a></li>
  							<% }) %>
		        		</ul>
		        	</nav>
	        	</div>
	        </aside>

		<!-- =Sidebar -->